.tools/
build/
node_modules/
.wrangler/
.env
.env.*
.dev.vars
.dev.vars.*
*.log
.aws-sam/
local.settings.json
.azure/
*.private.json
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.tfstate.lock.info
.terraform.lock.hcl
crash.log
.DS_Store
